@page "/DifferentLayout"

<PageTitle>MudBlazorLayout</PageTitle>

<div class="p-3">
    <h3>Mud Layout</h3>
    <p>This page shows how you can use multiple layouts in your site as well as the use of 3rd party component libraries/themes.</p>
</div>


